.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo{
    width: 150px;
}

.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items >ul > li{
    padding: 10px;
    margin: 10px;
}

.rest-card{
    padding: 5px;
    width: 200px;
    margin: 5px;
}

.rest-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}


.rest-logo{
    width: 100%;
}

.filter{
    padding: 10px;
    display: flex;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #f0f0f0;
}

.login-btn{
    margin: 0 20px;

    cursor: pointer;
}